@import "/styles/design-systems/color-system.scss";
@import "/styles/design-systems/typography.scss";

@mixin sh-tab-box-container {
  display: flex;
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    padding: 6px 16px;
    background-color: $ui-01;
    box-shadow: 0 0 0 1px inset #eff2f6;
    border-radius: 31px;
    .text {
      @include font-label-S;
      color: #787878;
    }
  }
  .tab-on {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    padding: 6px 16px;
    background-color: #232323;
    border-radius: 31px;
    .text {
      @include font-label-S;
      color: $text-04;
    }
  }
}
.sh-tab-box-container-tab {
  @include sh-tab-box-container;
  .tab {
    .text {
    }
  }
  .tab-on {
    .text {
    }
  }
}
.sh-tab-box-container-tag {
  @include sh-tab-box-container;
  .tab {
    .text {
    }
  }
  .tab-on {
    .text {
    }
  }
}
