@import "/styles/design-systems/color-system.scss";
@import "/styles/design-systems/typography.scss";

@mixin default-attr {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin radius-sh-circle {
  border-radius: 100px;
}
@mixin radius-sh-round {
  border-radius: 10px;
}
@mixin size-large {
  width: 104px;
  height: 86px;
}
@mixin size-regular {
  width: 104px;
  height: 52px;
}
@mixin size-small {
  width: 84px;
  height: 34px;
}
.sh-square-enabled-primary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $interactive-01;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-square-enabled-primary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $interactive-01;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-square-enabled-primary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $interactive-01;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-square-pressed-primary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $pressed-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-square-pressed-primary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $pressed-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-square-pressed-primary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $pressed-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-square-disabled-primary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $text-03;
  }
}
.sh-square-disabled-primary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $text-03;
  }
}
.sh-square-disabled-primary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $text-03;
  }
}
.sh-round-enabled-primary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $interactive-01;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-round-enabled-primary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $interactive-01;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-round-enabled-primary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $interactive-01;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-round-pressed-primary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $pressed-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-round-pressed-primary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $pressed-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-round-pressed-primary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $pressed-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-round-disabled-primary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $text-03;
  }
}
.sh-round-disabled-primary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $text-03;
  }
}
.sh-round-disabled-primary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $text-03;
  }
}
.sh-circle-enabled-primary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $interactive-01;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-circle-enabled-primary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $interactive-01;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-circle-enabled-primary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $interactive-01;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-circle-pressed-primary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $pressed-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-circle-pressed-primary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $pressed-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-circle-pressed-primary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $pressed-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-circle-disabled-primary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $text-03;
  }
}
.sh-circle-disabled-primary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $text-03;
  }
}
.sh-circle-disabled-primary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $text-03;
  }
}
.sh-square-enabled-primary-large-line {
  @include default-attr;
  @include size-large;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-square-enabled-primary-regular-line {
  @include default-attr;
  @include size-regular;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-square-enabled-primary-small-line {
  @include default-attr;
  @include size-small;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-square-pressed-primary-large-line {
  @include default-attr;
  @include size-large;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-square-pressed-primary-regular-line {
  @include default-attr;
  @include size-regular;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-square-pressed-primary-small-line {
  @include default-attr;
  @include size-small;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-square-disabled-primary-large-line {
  @include default-attr;
  @include size-large;
  background-color: $disabled-02;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-L;
    color: $disabled-02;
  }
}
.sh-square-disabled-primary-regular-line {
  @include default-attr;
  @include size-regular;
  background-color: $disabled-02;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-M;
    color: $disabled-02;
  }
}
.sh-square-disabled-primary-small-line {
  @include default-attr;
  @include size-small;
  background-color: $disabled-02;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-S;
    color: $disabled-02;
  }
}
.sh-round-enabled-primary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-round-enabled-primary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-round-enabled-primary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-round-pressed-primary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-round-pressed-primary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-round-pressed-primary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-round-disabled-primary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-L;
    color: $disabled-02;
  }
}
.sh-round-disabled-primary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-M;
    color: $disabled-02;
  }
}
.sh-round-disabled-primary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-S;
    color: $disabled-02;
  }
}
.sh-circle-enabled-primary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-circle-enabled-primary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-circle-enabled-primary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $interactive-03;
  box-shadow: 0 0 0 1px $ui-04 inset;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-circle-pressed-primary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-circle-pressed-primary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-circle-pressed-primary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $pressed-01;
  box-shadow: 0 0 0 1px $ui-05 inset;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-circle-disabled-primary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-L;
    color: $disabled-02;
  }
}
.sh-circle-disabled-primary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-M;
    color: $disabled-02;
  }
}
.sh-circle-disabled-primary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  box-shadow: 0 0 0 1px $disabled-02 inset;
  .text {
    @include font-button-S;
    color: $disabled-02;
  }
}
.sh-square-enabled-primary-2-large-fill2 {
  @include default-attr;
  @include size-large;
  background-color: $interactive-03;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-square-enabled-primary-2-regular-fill2 {
  @include default-attr;
  @include size-regular;
  background-color: $interactive-03;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-square-enabled-primary-2-small-fill2 {
  @include default-attr;
  @include size-small;
  background-color: $interactive-03;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-square-pressed-primary-2-large-fill2 {
  @include default-attr;
  @include size-large;
  background-color: $pressed-01;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-square-pressed-primary-2-regular-fill2 {
  @include default-attr;
  @include size-regular;
  background-color: $pressed-01;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-square-pressed-primary-2-small-fill2 {
  @include default-attr;
  @include size-small;
  background-color: $pressed-01;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-square-disabled-primary-2-large-fill2 {
  @include default-attr;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-square-disabled-primary-2-regular-fill2 {
  @include default-attr;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-square-disabled-primary-2-small-fill2 {
  @include default-attr;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-round-enabled-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $interactive-03;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-round-enabled-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $interactive-03;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-round-enabled-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $interactive-03;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-round-pressed-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $pressed-01;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-round-pressed-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $pressed-01;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-round-pressed-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $pressed-01;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-round-disabled-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-round-disabled-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-round-disabled-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-circle-enabled-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $interactive-03;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-circle-enabled-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $interactive-03;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-circle-enabled-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $interactive-03;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-circle-pressed-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $pressed-01;
  .text {
    @include font-button-L;
    color: $ui-04;
  }
}
.sh-circle-pressed-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $pressed-01;
  .text {
    @include font-button-M;
    color: $ui-04;
  }
}
.sh-circle-pressed-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $pressed-01;
  .text {
    @include font-button-S;
    color: $ui-04;
  }
}
.sh-circle-disabled-primary-2-large-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $disabled-01;
  .text {
    @include font-button-L;
    color: $ui-05;
  }
}
.sh-circle-disabled-primary-2-regular-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $disabled-01;
  .text {
    @include font-button-M;
    color: $ui-05;
  }
}
.sh-circle-disabled-primary-2-small-fill2 {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $disabled-01;
  .text {
    @include font-button-S;
    color: $ui-05;
  }
}
.sh-square-enabled-secondary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $interactive-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-square-enabled-secondary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $interactive-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-square-enabled-secondary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $interactive-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-square-pressed-secondary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $pressed-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-square-pressed-secondary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $pressed-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-square-pressed-secondary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $pressed-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-square-disabled-secondary-large-fill {
  @include default-attr;
  @include size-large;
  background-color: $disabled-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-square-disabled-secondary-regular-fill {
  @include default-attr;
  @include size-regular;
  background-color: $disabled-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-square-disabled-secondary-small-fill {
  @include default-attr;
  @include size-small;
  background-color: $disabled-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-round-enabled-secondary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $interactive-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-round-enabled-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $interactive-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-round-enabled-secondary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $interactive-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-round-pressed-secondary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $pressed-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-round-pressed-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $pressed-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-round-pressed-secondary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $pressed-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-round-disabled-secondary-large-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $disabled-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-round-disabled-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $disabled-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-round-disabled-secondary-small-fill {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $disabled-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-circle-enabled-secondary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $interactive-02;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-circle-enabled-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $interactive-02;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-circle-enabled-secondary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $interactive-02;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-circle-pressed-secondary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $pressed-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-circle-pressed-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $pressed-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-circle-pressed-secondary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $pressed-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-circle-disabled-secondary-large-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $disabled-03;
  .text {
    @include font-button-L;
    color: $text-04;
  }
}
.sh-circle-disabled-secondary-regular-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $disabled-03;
  .text {
    @include font-button-M;
    color: $text-04;
  }
}
.sh-circle-disabled-secondary-small-fill {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $disabled-03;
  .text {
    @include font-button-S;
    color: $text-04;
  }
}
.sh-square-enabled-secondary-large-line {
  @include default-attr;
  @include size-large;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-square-enabled-secondary-regular-line {
  @include default-attr;
  @include size-regular;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-square-enabled-secondary-small-line {
  @include default-attr;
  @include size-small;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-square-pressed-secondary-large-line {
  @include default-attr;
  @include size-large;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-square-pressed-secondary-regular-line {
  @include default-attr;
  @include size-regular;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-square-pressed-secondary-small-line {
  @include default-attr;
  @include size-small;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-square-disabled-secondary-large-line {
  @include default-attr;
  @include size-large;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-L;
    color: $disabled-03;
  }
}
.sh-square-disabled-secondary-regular-line {
  @include default-attr;
  @include size-regular;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-M;
    color: $disabled-03;
  }
}
.sh-square-disabled-secondary-small-line {
  @include default-attr;
  @include size-small;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-S;
    color: $disabled-03;
  }
}
.sh-round-enabled-secondary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-round-enabled-secondary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-round-enabled-secondary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-round-pressed-secondary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-round-pressed-secondary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-round-pressed-secondary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-round-disabled-secondary-large-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-large;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-L;
    color: $disabled-03;
  }
}
.sh-round-disabled-secondary-regular-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-regular;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-M;
    color: $disabled-03;
  }
}
.sh-round-disabled-secondary-small-line {
  @include default-attr;
  @include radius-sh-round;
  @include size-small;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-S;
    color: $disabled-03;
  }
}
.sh-circle-enabled-secondary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-circle-enabled-secondary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-circle-enabled-secondary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $interactive-05;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-circle-pressed-secondary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-L;
    color: $text-01;
  }
}
.sh-circle-pressed-secondary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-M;
    color: $text-01;
  }
}
.sh-circle-pressed-secondary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  background-color: $pressed-04;
  box-shadow: 0 0 0 1px $text-01 inset;
  .text {
    @include font-button-S;
    color: $text-01;
  }
}
.sh-circle-disabled-secondary-large-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-large;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-L;
    color: $disabled-03;
  }
}
.sh-circle-disabled-secondary-regular-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-regular;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-M;
    color: $disabled-03;
  }
}
.sh-circle-disabled-secondary-small-line {
  @include default-attr;
  @include radius-sh-circle;
  @include size-small;
  box-shadow: 0 0 0 1px $disabled-03 inset;
  .text {
    @include font-button-S;
    color: $disabled-03;
  }
}
